<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to nodes with express</title>
</head>
<body>
    <h1>Your on the contact page</h1>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate maxime iusto nesciunt ducimus maiores repudiandae nobis possimus consectetur. Tempora eos aut harum dolor reprehenderit unde corrupti debitis? Doloribus, consectetur quasi.</p>
</body>
</html>