<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>The New iPhone 11</title>
<link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
<link rel="stylesheet" href="css/main.css"> 
</head>
<body>

<div class="top-bar">
<div class="top-bar-left">
  <ul class="menu">
    <li class="menu-text">The New iPhone 11 & iPhone 11 Pro</li>
      <li><a href="https://www.apple.com">
        <img src="/images/logo.png" alt="logo">
      </a></li>
  </ul>
</div>

<div class="top-bar-right">
<ul class="menu">
<li><a href="#ip11">iPhone 11 Pro</a></li>
<li><a href="#">iPhone 11</a></li>
<li><a href="#">Learn More</a></li>
</ul>
</div>
</div>

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
<ul class="orbit-container">
<button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
<button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
<li class="orbit-slide is-active">
<img src="/images/header.jpg" alt="New iPhone 11 Options">
</li>
<li class="orbit-slide">
<img src="/images/header1.jpg" alt="New iPhone 11 with Water Splashing">
</li>
</ul>
</div>
<hr>

<!--Open iPhone 11 Pro-->
<div class="row column text-center">
<h2>The iPhone 11 Pro</h2>
<hr>
</div>
<div class="row small-up-2 large-up-4">
<div class="column">
<img class="thumbnail" src="/images/midnightgreen_pro.jpg" alt="midnightgreen">
<h5>Midnight Green</h5>
<p>From $24.95/mo. or $599 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11-pro" class="buttonexpanded">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/silver_pro.jpg" alt="silver">
<h5>Silver</h5>
<p>From $24.95/mo. or $599 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11-pro" class="buttonexpanded">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/gold_pro.jpg" alt="gold">
<h5>Gold</h5>
<p>From $24.95/mo. or $599 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11-pro" class="buttonexpanded">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/spacegray_pro.jpg" alt="black">
<h5>Space Gray</h5>
<p>From $24.95/mo. or $599 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11-pro" class="buttonexpanded">Buy</a>
</div>
</div>
<hr>
<!--Close iPhone 11 Pro-->

<!--Open iPhone 11-->
<div class="row column text-center">
<h2>iPhone 11</h2>
<hr>
</div>
<div class="row small-up-2 medium-up-3 large-up-6">
<div class="column">
<img class="thumbnail" src="/images/white.jpg" alt="white">
<h5>White</h5>
<p>From $16.62/mo. per month or $399 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11" class="buttonsmallexpandedhollow">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/black.jpg" alt="black">
<h5>Black</h5>
<p>From $16.62/mo. per month or $399 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11" class="buttonsmallexpandedhollow">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/green.jpg" alt="green">
<h5>Green</h5>
<p>From $16.62/mo. per month or $399 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11" class="buttonsmallexpandedhollow">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/purple.jpg" alt="purple">
<h5>Purple</h5>
<p>From $16.62/mo. per month or $399 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11" class="buttonsmallexpandedhollow">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/red.jpg" alt="red">
<h5>Red</h5>
<p>From $16.62/mo. per month or $399 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11" class="buttonsmallexpandedhollow">Buy</a>
</div>
<div class="column">
<img class="thumbnail" src="/images/yellow.jpg" alt="yellow">
<h5>Yellow</h5>
<p>From $16.62/mo. per month or $399 with trade-in*</p>
<a href="https://www.apple.com/shop/buy-iphone/iphone-11" class="buttonsmallexpandedhollow">Buy</a>
</div>
</div>
<!--Close iPhone 11-->

<hr>

<div class="large-3 columns">
<ul class="menu">
<li><a href="https://www.apple.com"> <img src="/images/logo.png" alt="logo"></a></li>
<li><a href="#">Learn More</a></li>
<li><a href="#">Pricing</a></li>
<li><a href="#">Back To Top</a></li>
</ul>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
    </script>
</body>
</html>
